

<ion-content padding>

  <div class="info">
    <p text-center id="header">Welcome to CTA</p>
    <p text-center>Thanks For installing - Let's get you set up!</p>
  </div>

  <div class="forms">
    <form [formGroup]="person" (ngSubmit)="signIN(person)"  >
      
      <ion-item>
          <ion-label id="labels" stacked>Email</ion-label>
          <ion-input color="white" formControlName="email" type="email"></ion-input>
        </ion-item>
      <div *ngIf="person.controls.email.invalid && person.controls.email.dirty">
        <p id="warning">Please enter email</p>
      </div>
      <ion-item>
          <ion-label id="labels" stacked>Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      <div *ngIf="person.controls.password.invalid && person.controls.password.dirty">
        <p id="warning">Please enter password</p>
      </div>

      <button ion-button block id="login" type="submit" outline small [disabled]="person.invalid">Sign In</button>
  </form>

  <ion-row>
    <button ion-button  clear>Forgot password?</button>
  </ion-row>
  </div>

</ion-content>
