page-welcome {
    .content{
        background-image: url('../assets/imgs/final.jpg');
    }
    .info{
        position:fixed;
        top: 25%;
        width: 90%;
        height: 20em;
        margin: auto;
        text-align: center;
    }
    .buttons-access{
        position: fixed;
        top: 78%;
        height: 14em;
        width: 90%;
        
    }
    #header{
        font-size: 1em;
        color: white;
    }
    #symbol{
        font-size: 2.5em;
        color: white;
    }
    #words{
        color: white;
    }
    .button{
        color: white;
        border:1px solid white;
    }
    .swiper-pagination-bullet-active {
        background: white;
        background-color: white;
        }
}
